<h2>{{nombre}}</h2>
<!-- etiqueta para una lista descriptiva -->
<dl> 
<!-- etiqueta que para definir la celda de datos -->    
<td>Nombre: </td>
<!-- etiqueta provee detalles acerca de la definición de un termino -->    
<dd>{{nombre}}</dd>

<td>Edad: </td>
<dd>{{edad}}</dd>

<td>Función: </td>
<dd>{{obtenerNombre()}}</dd>

<td>Capitalizado: </td>
<dd>{{nombreCapitalizado}}</dd>

</dl>

<button (click)="cambiarNombre()">
Cambiar Héroe
</button>

<button (click)="cambiarEdad()">
Cambiar edad    
</button>